<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="../static/css/style.css" th:href="@{/css/uploadStyle.css}" rel="stylesheet" />
        <title>GoopHub - Upload</title>
        <style>
            .list-group-item:hover {
                cursor: pointer;
            }
            .list-group-item.active:hover,{
                background-color: #e7f1f4 #f7f7f7 !important;
                border-color: #f7f7f7 !important;
            }
            .list-group-item.active, .list-group-item.active:hover {
                background-color: #e7f1f4 !important;
                border-color: #e7f1f4 !important;
                color: #495057;
}
        </style>
    </head>

    <body>
        <div id="navbar">
            <nav class="navbar navbar-expand-lg" style="background: #251D35">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                    <li class="nav-item">
                        <a class="nav-link p-2" th:href="@{/index}" aria-label="Home"><i class="fas fa-home" style="color: white"></i></a>
                    </li>
                    <li class="nav-item"></li>
                    <li class="nav-item">
                        <a class="nav-link p-2" th:href="@{/search}" aria-label="Search"><i class="fas fa-search" style="color: white"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron text-center" id="jumbotron" style="background: #251D35; border-radius: 0 !important">
            <div class="container">
                <h1 class="jumbotron-heading" style="color:#5BC491;">GOOP Upload</h1>
                <p class="lead" style="color: white">
                    Here you can upload your OWL GOOP files. Select the option:
                </p>
                <p>
                    <a class="btn btn-secondary my-2" style="background-color: #5BC491;border-color: #5BC491" data-toggle="collapse" href="#complexGoal" id="complexButton" aria-expanded="false" aria-controls="collapseExample">
                        Insert GOOP related to Complex Goal
                    </a>
                    <a class="btn btn-secondary my-2" style="background-color: #5BC491;border-color: #5BC491" data-toggle="collapse" href="#atomicGoal" id="atomicButton" aria-expanded="false" aria-controls="collapseExample">
                        Insert GOOP related to Atomic Goal
                    </a>
                </p>
            </div>
        </div>
        <div class="container">
            <div class="accordion-group">
                <div class="collapse" id="complexGoal">
                    <div class="card card-body">
                         <div class="card-header" style="margin-bottom: 10px">
                             <h5 class="card-title">Complex Goal</h5>
                        </div>
                        <form class="needs-validation">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name-field">Name</label>
                                    <input type="name" class="form-control" id="name-field" placeholder="Your name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="email-field">Email</label>
                                    <input type="email" class="form-control" id="email-field" placeholder="Email">
                                </div>

                                <div class="form-group col-md-10">
                                    <label for="organization-field">Organization Name</label>
                                    <input type="text" class="form-control" id="organization-field" placeholder="Federal University of ...">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="role-field">Role</label>
                                    <input type="text" class="form-control" id="role-field" placeholder="Researcher, Ontology Engineer, Student">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="goalName">Goal</label>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control" id="goalName" placeholder="Goal Name" aria-label="Search for goals" aria-describedby="button-addon2">
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="goalDecomposition">Goal Decomposition Type</label>
                                    <select class="form-control" id="goalDecomposition">
                                        <option>AND decomposition</option>
                                        <option>OR decomposition</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="queryValue">Search goals to add</label>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control" id="queryValue" placeholder="Search for goals" aria-label="Search for goals" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button" id="queryRunComplex">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <div class="col" id="col-dep">
                                        <strong>Selected goals</strong>
                                        <div class="list-group" id="complex-list-added" role="tablist">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group col-md-4" id="complex-list-to-add" style="margin-top: -35px; dysplay: none;">
                            </div>
                            <div style="text-align: center; margin-top: 50px;">
                                <p>
                                    <label class="btn btn-outline-dark" for="goop-field" style="margin-top: 0.75%">Select Fragment</label>
                                    <input type="file" id="goop-field" style="display: none">
                                    <button type="submit" class="btn btn-outline-success" id="complex-upload" >Upload</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="collapse" id="atomicGoal" style="margin-top: 20px">
                    <div class="card card-body">
                        <div class="card-header" style="margin-bottom: 10px">
                            <h5 class="card-title">Atomic Goal</h5>
                        </div>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="atomic-name-field">Name</label>
                                    <input type="name" class="form-control" id="atomic-name-field" placeholder="Your name">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="atomic-email-field">Email</label>
                                    <input type="email" class="form-control" id="atomic-email-field" placeholder="Email">
                                </div>

                                <div class="form-group col-md-10">
                                    <label for="atomic-organization-field">Organization Name</label>
                                    <input type="text" class="form-control" id="atomic-organization-field" placeholder="Federal University of ...">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="atomic-role-field">Role</label>
                                    <input type="text" class="form-control" id="atomic-role-field" placeholder="Researcher, Ontology Engineer, Student">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="atomic-queryValue">Goal</label>
                                    <div class="input-group mb-4">
                                        <input type="text" class="form-control" id="atomic-queryValue" placeholder="Goal Name" aria-label="Search for goals" aria-describedby="button-addon2">
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center; margin-top: 50px;">
                                <p>
                                    <label class="btn btn-outline-dark" for="goop-field" style="margin-top: 0.75%">Select Fragment</label>
                                    <input type="file" id="atomic-goop-field" style="display: none">
                                    <button type="submit" class="btn btn-outline-success" id="atomic-upload" >Upload</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
              'use strict';
              window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                  form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                      event.preventDefault();
                      event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                  }, false);
                });
              }, false);
            })();
        </script>

        <script>
            $('#atomicButton').click( function(e) {
                $('.collapse').collapse('hide');
            });
        </script>
        <script>
            $('#complexButton').click( function(e) {
                $('.collapse').collapse('hide');
            });
        </script>
        <!-- Handle Complex goals list -->
        <script>
            $("#complex-list-added").click(function(){
                for (i = 0; i < $(this).children().length; i++) {
                    if ($(this).children().eq(i).hasClass('active')) {
                        $("#complex-list-added").children().eq(i).remove();
                    }
                }
            });
        </script>
        <!-- Handle Complex goals search and selection -->
        <script>
            $("#complex-list-to-add").click(function(){
                for (i = 0; i < $(this).children().length; i++) {
                    if ($(this).children().eq(i).hasClass('active')) {
                        console.log($(this).children().eq(i).attr("data-id"));
                        console.log($(this).children().eq(i).attr("iri"));
                        var str = $(this).children().eq(i).attr("data-id");
                        var iri = $(this).children().eq(i).attr("iri");
                        var element =
                            '<a class=\"list-group-item list-group-item-action\" data-id=\"' + str + '\" iri=\"' + iri + '\" data-toggle=\"list\" href=\"#list-home\" aria-controls=\"home\">' +
                                $(this).children().eq(i).text() +
                            '</a>' +
                            '<input type="hidden" name="style" value=\"' + str + '\">'
                        $("#complex-list-added").append(element);
                        $("#complex-list-to-add").children().eq(i).remove();
                    }
                }
            });
        </script>
        <!-- Send Complex POST request -->
        <script>
            $("#complex-upload").click(function(){
                event.preventDefault();

                var atomics = [];
                for (i = 0; i < $("#complex-list-added").children().length; i++) {
                    if (typeof $("#complex-list-added").children().eq(i).attr("iri") !== "undefined") {
                        atomics.push($("#complex-list-added").children().eq(i).attr("iri"));
                    }
                }

                console.log(atomics);
                var name = $("#name-field").val();
                var email = $("#email-field").val();
                var organization = $("#organization-field").val();
                var role = $("#role-field").val();
                var goop = $("#goop-field").val();
                var goalName = $("#goalName").val();
                var goalDecomposition = $("#goalDecomposition").children("option:selected").val().replace(" ", "_")


                var formData = new FormData();
                formData.append('name', name);
                formData.append('email', email);
                formData.append('organization', organization);
                formData.append('role', role);
                formData.append('goal', goalName);
                formData.append('decomposition', goalDecomposition);
                formData.append('atomics[]', atomics);

                // Attach file
                formData.append('file', ($("#goop-field"))[0].files[0]);
                console.log(($("#goop-field"))[0].files[0]);
                $.ajax({
                    url: "/api/complexupload",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (dataofconfirm) {
                        alert(dataofconfirm);
                        location.reload();
                    }
                });
            });
        </script>
        <!-- Send Atomic POST request -->
        <script>
            $("#atomic-upload").click(function(){
                event.preventDefault();

                var name = $("#atomic-name-field").val();
                var email = $("#atomic-email-field").val();
                var organization = $("#atomic-organization-field").val();
                var role = $("#atomic-role-field").val();
                var goop = $("#atomic-goop-field").val();
                var goal = $("#atomic-queryValue").val();

                var formData = new FormData();
                formData.append('name', name);
                formData.append('email', email);
                formData.append('organization', organization);
                formData.append('role', role);
                formData.append('goal', goal);

                // Attach file
                formData.append('file', ($("#goop-field"))[0].files[0]);
                console.log(($("#atomic-goop-field"))[0].files[0]);
                $.ajax({
                    url: "/api/atomicupload",
                    data: formData,
                    cache: false,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    success: function (dataofconfirm) {
                        alert(dataofconfirm);
                        location.reload();
                    }
                });
            });
        </script>
        <!-- Handle complex goals search request -->
        <script>
            $( "#queryRunComplex" ).click(function() {
                event.preventDefault();
                $("#complex-list-to-add").show();
                if ( $('#complex-list-to-add').children().length > 0 ) {
                    $("#complex-list-to-add").children().remove();
                }
                $.ajax({
                    type : 'GET',
                    url : '/tool/query',
                    crossDomain: true,
                    dataType:'json',
                    data : {
                        query : $("#queryValue").val()
                    },
                    success : function(result) {
                        console.log(result);
                        if (result["goops"].length == 0) {
                            var trHTML =
                            '<div class="alert alert-warning" role="alert">' +
                                'No results found' +
                            '</div>'
                            $('#complex-list-to-add').append(trHTML);
                        }
                        for (i = 0; i < result["goops"].length; i++) {
                            var str = result["goops"][i].toLowerCase();
                            str = str.replace(" ", "-");
                            var iri = result["iri"][i];
                            var trHTML =
                                '<a class=\"list-group-item list-group-item-action\" data-id=\"' + str + '\" iri=\"' + iri + '\" data-toggle=\"list\" >' +
                                    result["goops"][i] +
                                '</a>';
                            $('#complex-list-to-add').append(trHTML);
                        }
                    },
                    error : function(request,error)
                    {
                        var trHTML =
                        '<div class="alert alert-warning" role="alert">' +
                            'No result.' +
                        '</div>'
                        $('#complex-list-to-add').append(trHTML);
                    }
                });
                return false;
            });
        </script>
    </body>
</html>